*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
:root{
  --bg-color:#222327;
  --text-color:#fff;
  --main-color:#009688;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.background{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(background.jpg);
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.50s ease;
}
.logo{
  display: flex;
  align-items: center;
}

.logo i{
  color: palegreen;
  font-size: 55px;
  margin-right: 3px;

}
.logo span{
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 600;
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 50px;
  transition: all 0.50s ease;
}
.navbar a.active{
  color: var(--main-color);
}
.navbar a:hover{
  color: var(--main-color);
}

#menu-icon{
  font-size: 35px;
  cursor:pointer;
  color: var(--text-color);
  z-index: 10001;
  display: none;
}
.column1{
  float: left;
  width: 49.9%;
  text-align: center;
}
.column2{
  float: right;
  width: 49.9%;
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 h1, .column2 h1{
  width: fit-content;
  margin-left: 31%;
  font-size: 3rem;
}
main h1{
  font-size: var(--big-font);
  display: flex;
  margin-left: 42%;
  margin-right: auto;
  margin-top: 10%;
}
.flex-container{
  color: #fff;
  width: 100%;
}

a button{
  width: 75px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.filler::before{
  content: ' ';
  height: 100%;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
 
}
.filler:hover::before{
  width: 100%;
}
.filler{
  z-index: 2;
}
section h1{
  margin-left: 43%;
  font-size: 4rem;
}
.bgColor{
  background: rgb(0,150,136);
  background: linear-gradient(90deg, rgba(0,150,136,1) 0%, rgba(0,150,96,0) 100%);
  width: 100%; 
 }




























































































@media (max-width:2064px){
  header {
    padding: 10px 4%;
    transition: .2s;
  }
}
@media (max-width:1920px){
  header {
    padding: 10px 4%;
    transition: .2s;
  }
  section h1{
    margin-left: 41%;
    margin-top: 7%;
  }
  .column1 h1, .column2 h1{
    font-size: 2.5rem;
  }
  .column1, .column2{
    margin-top: -2%;
  }
  
}
@media (max-width:1704px){
  header{
    padding: 10px 4%;
    transition: .2s;
  }
  .navbar a{
    margin: 0 40px;
  }
  .column1 h1{
    margin-left: 27%;
  }
  .column2 h1{
    margin-left: 30%;
  }
  section h1{
    margin-left: 40%;
  }
}
@media (max-width:1600px){
  header{
    padding: 10px 4%;
    transition: .2s;
  }
  .logo span{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
  }
  .navbar a{
    margin: 0 40px;
  }
  .column1 h1{
    margin-left: 25%;
  }
  .column2 h1{
    margin-left: 28%;
  }
  section h1{
    margin-left: 39%;
    margin-top: 7%;
  }
}
@media (max-width:1490px){
  .navbar a{
    font-size: 1.1rem;
  }
  section h1{
    margin-left: 38%;
    margin-top: 7%;
  }
}
@media (max-width:1440px){
  header{
    padding: 5px 4%;
  }
  .navbar a{
    font-size: 1rem;
  }
  section h1{
    margin-left: 38%;
    margin-top: 7%;
  }
  .column1 h1{
    margin-left: 10%;
  }
  .column2 h1{
    margin-left: 18%;
  }
}
@media (max-width:1384px){
  .background{
    max-height: 5000px;
    height: fit-content;
  }
  .column1 h1{
    margin-left: 19%;
  }
  .column2 h1{
    margin-left: 20%;
  }

  section h1{
    margin-left: 37%;
  }
}
@media (max-width:1310px){
  .navbar a{
    font-size:1rem;
  }
  .logo span{
    font-size: 1.7rem;
  }
  .logo i{
    font-size: 2rem;
  }
  section h1{
    margin-left: 36%;
    margin-top: 7%;
  }
}
.column1 h1{
  margin-left: 20%;
}
.column2 h1{
  margin-left: 24%;
}

@media (max-width:1280px){
  header{
    padding: 14px 2%;
    transition: .2s;
  }
  .navbar a{
    padding: 5px 0;
    margin: 0px 20px;
  }
  .column1 h1{
    margin-left: 18%;
  }
  .column2 h1{
    margin-left: 23%;
  }
  
}
@media (max-width:1090px){
  #menu-icon{
    display: block;
  }
  section h1{
    margin-left: 34%;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: fit-content;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
  .navbar a{
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color: var(--text-color);
    transform: translateY(5px);
  }
  .navbar a.active{
    color: var(--text-color);
  }
  .navbar.open{
    right: 2%;
  }
  .column1 h1{
    margin-left: 13%;
  }
  .column2 h1{
    margin-left: 18%;
  }
  
}
@media (max-width:820px){
  .column1, .column2{
    width: 100%;
  }
  .column1 h1{
    margin-left: 26%;
  }
  .column2 h1{
    margin-left: 29%;
    margin-top: 5%;
  }
  section h1{
    margin-left: 28%;
  }
  
}
@media (max-width:768px){
  .column1, .column2{
    width: 100%;
  }
 
  .logo {
    margin-left: 5%;
  }
  .logo span{
    font-size: 2.5rem;
  }
  #menu-icon{
    font-size: 3rem;
  }
  section h1{
    margin-top: 15%;
    margin-left: 26%;
  }
  .column1 h1{
    margin-left: 24%;
  }
  .column2 h1{
    margin-left: 28%;
  }
  .column1, .column2{
    margin-top:-10%;
  }
}
@media (max-width:425px){
  section h1{
    font-size: 2.5rem;
    margin-top: 25%;
    margin-left: 23%;
  }
  .column1 h1{
    margin-left: 5%;
  }
  .column2 h1{
    margin-left: 11%;
  }
}
@media (max-width:414px){
  section h1{
    font-size: 2.5rem;
    margin-top: 25%;
    margin-left: 23%;
  }
  .column1 h1{
    margin-left: 3%;
    margin-top: 20%;
  }
  .column2 h1{
    margin-left: 11%;
    margin-top: 10%;
  }
}
  @media (max-width:412px){
    section h1{
      font-size: 2.5rem;
      margin-top: 25%;
      margin-left: 23%;
    }
    .column1 h1{
      margin-left: 3%;
      margin-top: 20%;
    }
    .column2 h1{
      margin-left: 9%;
      margin-top: 10%;
    }
}@media (max-width:393px){
  .column1 h1{
    margin-left: 10%;
    font-size: 2rem;
  }
  .column2 h1{
    margin-left: 17%;
    font-size: 2rem;
  }
  section h1{
    margin-left: 22%;
  }
}
@media (max-width:390px){
  .column1 h1{
    margin-left: 10%;
    font-size: 2rem;
  }
  .column2 h1{
    margin-left: 16%;
    font-size: 2rem;
  }
}
@media (max-width:375px){
  section h1{
    font-size: 2.5rem;
    margin-top: 25%;
    margin-left: 20%;
  }
  .column1 h1{
    margin-left: 7%;
    font-size: 2.1rem;
    margin-top: 20%;
  }
  .column2 h1{
    margin-left: 14%;
    font-size: 2.1rem;
    margin-top: 13%;
  }
}
@media (max-width:360px){
  .column1 h1{
    margin-left: 8%;
    font-size: 2rem;
  }
  .column2 h1{
    margin-left: 13%;
    font-size: 2rem;
  }
  .logo{
    margin-left: 0%;
  }
}
@media (max-width:320px){
  section h1{
    font-size: 2.5rem;
    margin-top: 25%;
    margin-left: 15%;
  }
  .column1 h1{
    margin-left: 4%;
    font-size: 1.9rem;
    margin-top: 20%;
  }
  .column2 h1{
    margin-left: 12%;
    font-size: 1.9rem;
    margin-top: 13%;
  }
  .logo span{
    font-size: 1.9rem;
  }
}

